<script setup>
  const props = defineProps(["text", "ariaLabel", "density"]);
  const emit = defineEmits(["press"]);

  function emitPress() {
    emit("press", null);
  }
</script>

<template>
  <button @click="emitPress" v-if="density==='compact'" class="custom-button-sm" :aria-label="ariaLabel">{{ text }}</button>
  <button @click="emitPress" v-else class="custom-button-lg" :aria-label="ariaLabel">{{ text }}</button>
</template>

<style scoped>
  .custom-button-sm {
    padding: 4px;
  }
  .custom-button-lg {
    padding: 12px;
  }
</style>
