<script setup>
  const props = defineProps(["ariaLabel", "density"])
</script>

<template>
  <button v-if="density==='compact'" class="custom-button-sm" :aria-label="ariaLabel">
    <slot />
  </button>
  <button v-else class="custom-button-lg" :aria-label="ariaLabel">
    <slot />
  </button>
</template>

<style scoped>
  .custom-button-sm {
    padding: 4px;
  }
  .custom-button-lg {
    padding: 12px;
  }
</style>
