<script setup>
  defineProps(["value"]);
</script>

<template>
  <div class="container">
    <div class="bar" :style="{width: value + '%'}"></div>
  </div>
</template>

<style scoped>
.container {
  border: 1px solid black;
  background-color: lightgrey;
  padding: 2px;
}

.bar {
  background-color: green;
  height: 12px;
}
</style>
