<script setup>
  defineProps(["name", "price"]);
  const emit = defineEmits(["addToCart"]);

  function emitAddToCart() {
    emit("addToCart");
  }
</script>

<template>
<article class="shop-product">
  <div class="name-and-price">
    <h1>{{name}}</h1>
    <p class="price">{{price}}$</p>
  </div>
  <div class="button-container">
    <button @click="emitAddToCart">add to cart</button>
  </div>
</article>
</template>

<style scoped>
.shop-product {
  border: 1px solid #eeeeee;
  border-radius: 4px;
  padding: 8px;
}

.name-and-price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.price {
  font-size: 1.2em;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}
</style>
