<script setup>
  defineProps(["modelValue"]);
  const emit = defineEmits(["update:modelValue"]);

  function emitUpdateValue(newValue) {
    emit("update:modelValue", newValue)
  }
</script>

<template>
  <!-- besseres Symbol (Unicode)-->
  <!-- kürzerer Code (v-for) -->
  <div>
    <span @click="emitUpdateValue(1)">★</span>
    <span v-if="modelValue>=2" @click="emitUpdateValue(2)">★</span>
    <span v-else @click="emitUpdateValue(2)">☆</span>
    <span v-if="modelValue>=3" @click="emitUpdateValue(3)">★</span>
    <span v-else @click="emitUpdateValue(3)">☆</span>
    <span v-if="modelValue>=4" @click="emitUpdateValue(4)">★</span>
    <span v-else @click="emitUpdateValue(4)">☆</span>
    <span v-if="modelValue>=5" @click="emitUpdateValue(5)">★</span>
    <span v-else @click="emitUpdateValue(5)">☆</span>
  </div>
</template>

<style scoped>
span {
  color: gold;
}
/* Sterne einfärben (z.B. golden)  */
/* größere Schriftart */
</style>
