<script setup>
import {ref} from "vue";
defineProps(["value"]);

const starIds = ref([1, 2, 3, 4, 5]);
</script>

<template>
  <!-- besseres Symbol (Unicode)-->
  <!-- kürzerer Code (v-for) -->
  <div>
    <span v-for="id in starIds">
      <span v-if="id <= value">*</span>
    </span>
  </div>
</template>

<style scoped>
span {
  color: gold;
}
/* Sterne einfärben (z.B. golden)  */
/* größere Schriftart */
</style>
