<script setup>
import HelloWorld from './components/HelloWorld.vue'
import TheWelcome from './components/TheWelcome.vue'
import CustomButton from "@/components/CustomButton.vue";
import StarRating from "@/components/StarRating.vue";
import ProgressBar from "@/components/ProgressBar.vue";
import CustomButtonWithSlot from "@/components/CustomButtonWithSlot.vue";

import {ref, computed} from "vue";
import ShopProduct from "@/components/ShopProduct.vue";

const rating = ref(3);

const ratings = ref([3, 1, 4, 5]);

const ratingsAvg = computed(
    () => {
      let sum = 0;
      for (let rating of ratings.value) {
        sum += rating;
      }
      const avg = sum / ratings.value.length;
      return avg;
    }
)

function incrementRating() {
  rating.value ++;
}

function decrementRating() {
  rating.value --;
}

function updateRating(newRating) {
  rating.value = newRating;
}

function handleAddToCart(product) {
  console.log(`In component "App": event received: addToCart, ${product}`);
}
</script>

<template>
  <custom-button text="Yes" aria-label="test"/>
  <custom-button text="No" />
  <custom-button text="default button" density="default"/>
  <custom-button text="compact button" density="compact" />

  <custom-button-with-slot><em>slot</em> button</custom-button-with-slot>


  <star-rating :value="5" />
  <star-rating :value="3" />
  <star-rating :value="1" />

  <progress-bar :value="90" />
  <progress-bar :value="10" />
  <progress-bar :value="0" />

  <hr />
  <custom-button text="-" @press="decrementRating()" />
  <custom-button text="+" @press="incrementRating()" />
  {{rating}}

  <star-rating :model-value="rating" @update:model-value="updateRating"/>

  <star-rating v-model="rating" />

  <hr />






  <shop-product
    name="MacBook Air"
    :price="1100"
    @add-to-cart="handleAddToCart('macbook-air')"
  />
  <shop-product
    name="ThinkPad"
    :price="900"
    @add-to-cart="handleAddToCart('thinkpad')"
  />
  <shop-product
      name="EliteBook"
      :price="1600"
      @add-to-cart="handleAddToCart('elitebook')"
  />

  <hr />

  {{ratingsAvg}}

</template>

<style scoped>
</style>
