<template>
  <h1>Contact</h1>
  <p>Marko Knöbl</p>
  <p>Stephansplatz 1</p>
  <p>1030 Wien</p>
  {{foo}}
  <button @click="foo++">+</button>

  <button @click="isDialogOpen=true">open dialog</button>

  <dialog-test title="foo" v-model="isDialogOpen">
    this is a dialog
  </dialog-test>

</template>

<script setup>
import {ref} from "vue"
import DialogTest from "@/views/DialogTest.vue";
const foo = ref(0);

const isDialogOpen = ref(false);
</script>
