<script setup>
defineProps(["modelValue"]);
const emit = defineEmits(["update:modelValue"])

function emitUpdate(newValue) {
  emit("update:modelValue", newValue);
}

</script>

<template>
  <div class="dialog-test" v-if="modelValue">
    <slot />
    <div>
      <button @click="emit('update:modelValue', !modelValue)">close</button>
    </div>
  </div>
</template>

<style scoped>
.dialog-test {
  border: 2px solid #aaaaaa;
  padding: 8px;
  background-color: white;
  position: fixed;
  left: 100px;
  top: 100px;
  width: 400px;
  height: 400px;
}
</style>