<script setup>
  import { ref } from "vue";

  const name = ref("Max Mustermann");

  function changeName() {
    name.value = "Marko Knöbl";
  }

  const count = ref(0);

  function incrementCounter() {
    count.value ++;
  }

  function decrementCounter() {
    count.value --;
  }

  function resetCounter() {
    count.value = 0;
  }

  const imgId = ref(1);

  function getImgUrl() {
    return "https://picsum.photos/id/" + imgId.value + "/300/200";
  }

  function nextPicture() {
    imgId.value ++;
  }

  function previousPicture() {
    if (imgId.value >= 1) {
      imgId.value -= 1;
    }
  }

  const firstName = ref("");

</script>

<template>
  <h1>Hello World</h1>
  <p>
    mein Name ist {{name}}

    <button @click="changeName()">change name</button>
  </p>
  <div>

    <h1>Counter</h1>

    {{count}}

    <button @click="incrementCounter()">+</button>
    <button @click="decrementCounter()">-</button>
    <button @click="resetCounter()">reset</button>
  </div>

  <div>
    <h1>Slideshow</h1>
    <h3>picture {{imgId}}</h3>
    <img :src="getImgUrl()" />
    <!--
    show pictures like this:
    https://picsum.photos/id/3/300/200
    -->

    <button @click="previousPicture()">previous picture</button>
    <button @click="nextPicture()">next picture</button>
  </div>

  <div>
    <h1>Formulare und Inputs</h1>
    first name: <input v-model="firstName"/> (length: {{firstName.length}})
    <button>clear name</button>
  </div>

  <div>
    <h1>Formulare und Inputs mit Validierung</h1>
    z.B. Name muss mindestens 5 Buchstaben haben, e-mail muss ein @-Zeichen enthalten
    Validierungsstatus soll neben den Inputs stehen: "valid" / "invalid"
  </div>

</template>

<style scoped>
</style>
