<script setup>
import {ref} from "vue";
import axios from "axios";

const users = ref([]);

// "idle", "loading", "success", "error"
const usersStatus = ref("idle");

const name = ref("");

async function loadUsers() {
  usersStatus.value = "loading";

  let data;
  try {
    data = await fetchUsersAxios();
    users.value = data;
    usersStatus.value = "success";
  } catch {
    usersStatus.value = "error";
  }
}

async function fetchUsers() {
  // API Abfragen in JS: fetch / axios
  const res = await fetch("https://jsonplaceholder.typicode.com/users");
  // Response Body als JSON auslesen
  return res.json();
}

async function fetchUsersAxios() {
  const res = await axios.get("https://jsonplaceholder.typicode.com/users");
  return res.data;
}

async function addUser() {
  const res = await axios.post("https://jsonplaceholder.typicode.com/users", {name: name.value});
  users.value.push({id: res.data.id, name: res.data.name});
}

</script>

<template>
  <div v-if="usersStatus === 'idle'">click the button to load the data</div>
  <div v-if="usersStatus === 'loading'">loading...</div>
  <div v-if="usersStatus === 'error'">Error when loading user data</div>
  <button @click="loadUsers">load users</button>
  <ul v-if="users.length !== 0">
    <li v-for="user in users">{{user.name}} (id: {{user.id}})</li>
  </ul>
  <form @submit.prevent="addUser">
    <label>name:</label>
    <input v-model="name"/>
    <button type="submit">add user</button>
  </form>
</template>
