.my-row {
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
}

.my-col {
    width: 33%;
}

@media screen and (max-width: 1000px) {
    .my-col {
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    .my-col {
        width: 100%;
    }
}
